body {
	background-color: rgb(231,230,229);
	border:1px solid rgb(130,130,130);
	width: 100%;
	margin: 30px;
}

div {
	border: 1px solid gray;
	padding: 8px;
}

h1 {
	color:#4CAF50;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
}

p {color:#000000;}
		
hr {color:Tomato;}

h2 {
	text-align: left;
	color:#000000;
	font-size:20px;
 }
		
h3 {
	color:#000000;
	font-size:15px;
 }

#p01 {text-align: left}	
#p02 {float: right; margin: 05px}
#p03 {text-align: center;}
#p04 {margin: 15px;}:
#ul01 {color:rgb(150,120,110);}

#cent {font-size: 20px;
		text-align: center;
		}

a:link {
	color: green;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color:rgb(150,110,110);
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color:red;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color:yellow;
	background-color: transparent;
	text-decoration: underline;
}

#line {
	border: 1px solid rgb(130,130,130);
	border-collapse: collapse;	
	margin: 15px;
	padding: 5px;
}